.card {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 140px;

  padding: 20px;
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  overflow: hidden;
  perspective: 1000px;

  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
}

.card > * {
  cursor: default;
}

.card:hover {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.card__container .card:nth-child(1) {
  width: 26rem;
}
.card__container .card:nth-child(2) {
  width: 40rem;
}
.card__container .card:nth-child(3) {
  width: 35rem;
}

@media (max-width: 1280px) {
  .card__container .card:nth-child(1) {
    width: 20rem;
  }
  .card__container .card:nth-child(2) {
    width: 35rem;
  }
  .card__container .card:nth-child(3) {
    width: 30rem;
  }
}

@media (max-width: 1024px) {
  .card__container .card:nth-child(1) {
    width: 15rem;
  }
  .card__container .card:nth-child(2) {
    width: 25rem;
  }
  .card__container .card:nth-child(3) {
    width: 20rem;
  }
}

@media (max-width: 768px) {
  .card__container .card:nth-child(1) {
    width: 13rem;
  }
  .card__container .card:nth-child(2) {
    width: 18rem;
  }
  .card__container .card:nth-child(3) {
    width: 15rem;
  }
}

@media (max-width: 640px) {
  .card__container .card:nth-child(1) {
    width: 18rem;
  }
  .card__container .card:nth-child(2) {
    width: 18rem;
  }
  .card__container .card:nth-child(3) {
    width: 18rem;
  }
}
